body {
    background-color: #FCFFC1;
}

#title {
    position: relative;
    text-align: center;
    margin-top: 10vh;
        font-family: "Abril Fatface", serif;
        font-weight: 700;
        font-style: normal;  
        font-size: 5rem;   
        color: #FCC737;
}

#clockdiv {
    position: relative;
    text-align: center;
    left: 50vh;
    margin-top: 10vh;
    color: #493628;
    font-family: "Abril Fatface", serif;
    font-weight: bolder;
    font-size: 30px;
    height: 20vh;
    width: 50%;
    display: inline-flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: flex-start;
  }
  
  #clockdiv > div {
    padding: 10px;
    border-radius: 10px;
  }
  
  #clockdiv div > span {
    display: inline-block;
    height: 20vh;
    width: 20vh;
    padding: 15px;
    border-radius: 3px;
    text-align: center;
    font-size: 80px;
  }
  
  .smalltext {
    padding-top: 5px;
  }

  .background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(&quot;background.jpg&quot;);
    background-size: cover;
    z-index: -1;
  }
  #popup {
    position: fixed;
    top: 90vh;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 15px 30px;
    font-size: 18px;
    font-weight: bold;
    color: #fff;
    background-color: #ff4500;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  }
  .popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
  }
  .popup-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  }
  .close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 24px;
    color: #000;
    cursor: pointer;
  }